html, body {
  height: 100%;
}

#map {
  height: 100vh;
}

.card {
  padding: 10px;
  color: #26333a;
  border-left: 1px solid #2c3b40;
  border-right: 1px solid #999;
  border-radius: 50px 2px;
  /*background: linear-gradient(0.15turn, #990a3c, #0a5b99);*/
  background: linear-gradient(0.33turn, #3e5468, #ebf8e1, #f9d64d)
}

/*7E0F4B*/
.card div {
  min-width: 100px;
}

.card h2 {
  text-transform: capitalize;
  padding: 5px 0px 15px 5px;
  margin: 0;
}

.card p {
  font-size: 15px;
  padding: 5px;
  margin: 0;
}
/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
