html, body {
  height: 100%;
}

.App {
  display: flex;
}

/*Navbar*/
.navbar {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #26333a;
}

nav h1 {
  margin: 0;
  font-size: 22px;
  letter-spacing: 2.5px;
  color: #e1f8f6;
}

/*or using div with .sidebar*/
aside {
  flex-basis: 20%;
  height: calc(100vh - 50px);
  padding-left: 10px;
  overflow-y: scroll; /* scroll just sidebar, not necessary position: sticky; and top: 0; */
}

main {
  flex-grow: 1; /* spread the with next to sidebar */
 /* width: 75%;
  margin: 0;
  padding: 0;*/
}

#map {
  width: 100%;
  height: calc(100vh - 50px);
  /*viewport whole height of the window*/
  top: 0;
}

.card {
  padding: 10px;
  color: #26333a;
  border-left: 1px solid #2c3b40;
  border-right: 1px solid #999;
  border-radius: 50px 2px;
  /*background: linear-gradient(0.15turn, #990a3c, #0a5b99);*/
  background: linear-gradient(0.27turn, #3e5468, #e1f8f6, #e6c130);
}

/*7E0F4B*/
.card div {
  min-width: 100px;
}

.card h2 {
  text-transform: capitalize;
  padding: 5px 0px 15px 5px;
  margin: 0;
}

.card p {
  font-size: 15px;
  padding: 5px;
  margin: 0;
}
